Wardrobe/WardobeClient/Connected Services/Proxy/Design_Time_Addresses3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WardobeLibrary.WCFClasses.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WardobeLibrary.WCFClasses.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfClothes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Clothes" nillable="true" type="tns:Clothes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClothes" nillable="true" type="tns:ArrayOfClothes" />
  <xs:complexType name="Clothes">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Clothes" nillable="true" type="tns:Clothes" />
</xs:schema>